database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/migrations/2014_10_12_200000_add_two_factor_columns_to_users_table.php
database/migrations/2019_08_19_000000_create_failed_jobs_table.php
database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
database/migrations/2021_02_18_110935_create_sessions_table.php
database/migrations/2021_02_27_083944_create_permission_tables.php
database/migrations/2021_03_09_063415_create_company_settings_table.php
database/migrations/2021_06_05_180606_create_media_table.php
database/migrations/2022_03_14_045014_create_categories_table.php
database/migrations/2022_03_14_045037_create_sub_categories_table.php
database/migrations/2022_03_14_045131_create_products_table.php
database/migrations/2022_03_14_045738_create_blogs_table.php
database/migrations/2022_03_15_061013_create_messages_table.php
database/migrations/2022_05_18_041912_create_sliders_table.php
database/seeders/CoreDataSeeder.php
database/seeders/DatabaseSeeder.php
database/seeders/DemoDataSeeder.php
